.header{
   text-align:center;
   margin-left: 180px;
}

.home-title{
   font-size: 28pt;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bkhome{
   font-size: 18pt;
   font-family: DFKai-SB;
   
}

h1{
   color:chocolate; 
   text-align:center;
}

div{
   font-size: 18pt;
   text-align:center;
   font-family: DFKai-SB;
}

a:hover{
   color:coral;
}

body{
   background-color:aliceblue;
   background-image: url(../image/home_bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.body{
   margin-left: 180px;
}

img{
   vertical-align: text-bottom;
   margin-right: 6pt;
}

.sidebar{
   background-color:cadetblue;
   height: 200px;
   width: 180px;
   position: fixed;
   padding-top: 20px;
}

.sidebar a{
   font-size: 18pt;
   display: block;
   padding: 7px 8px 7px 8px;
   font-family:'Courier New', Courier, monospace
}

.sidebar a:hover::before{
   position: absolute;
   width: 200px;
   left: 200px;
   font-size: 18pt;
   display: block;
   background-color: blanchedalmond;
   content: '製作中(・ω・)ノ';
}

button{
   font-size: 18pt;
   background-color: cadetblue;
   border: none;
   padding: 7px 8px 7px 8px;
}

button:hover {
   cursor: pointer;
}

.college_content{
   display: none;
}

div.college_click{
   top: 60px;
   left: 180px;
   width: 180px;
   background-color:cadetblue;
   display: block;
   position: absolute;
}

.move{
   display: inline-block;
   text-align: center;
   animation: 6s linear infinite;
   animation-name: colorful, move;
}

@keyframes move{
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
 }

 .color{
   font-size: 36pt;
   animation: colorful 6s linear infinite;
 }

 @keyframes colorful{
   0%   {color: plum;}
   20%  {color: orange;}
   40%  {color: orchid;}
   60% {color: chocolate;}
   80% {color: lightblue;}
   100% {color: purple;}
 }

 .move_l2r{
   display: inline-block;
   color: crimson;
   animation: move_l2r 8s linear infinite;
 }

 @keyframes move_l2r
 {
   0%
   {
      transform: translate(-200%);
   }
   50%
   {
      transform: translate(200%);
   }
   100%
   {
      transform: translate(-200%);
   }
 }