header{
   background-color: yellow;
   display: block
}

.home-title{
   font-size: 28pt;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
   color: red; 
   text-align:center;
}

div{
   font-size: 18pt;
   text-align:center;
   font-family: DFKai-SB;
}

body{
   background-color: aqua;
}