header{
   text-align:center;
}

.home-title{
   font-size: 28pt;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
   color:chocolate; 
   text-align:center;
}

div{
   font-size: 18pt;
   text-align:center;
   font-family: DFKai-SB;
}

a:hover{
   color:coral;
}

body{
   background-color:aliceblue;
}

img{
   vertical-align: text-bottom;
   margin-right: 6pt;
}